<!DOCTYPE html>
<html>
  <head>
    <title>Edit <%=@figure.name%></title>
  </head>

  <body>
    <h1>Edit <%=@figure.name%></h1>
    <form action="/figures/<%=@figure.id %>" method="POST">
      <label>Name: </label><input type="text" name="figure[name]" id="figure_name">
      <br></br>
      <label>Title: </label><input type="text" name="title[name]" id="new_title">
      <br></br>
    <label> Additional Titles: </label>
    <br></br>
      <%Title.all.each do |title|%>
        <input type="checkbox" name="figure[title_ids][]" value="<%=title.id%>" id="title_<%=title.id%>"><%=title.name%></input>
        <br></br>
      <%end%>

    <label>Landmark they're known for: </label><input type="text" name="landmark[name]" id="new_landmark">
    <br></br>
    <label>Additional Landmarks: </label>
      <%Landmark.all.each do |landmark|%>
        <input type="checkbox" name="figure[landmark_ids][]" value="<%=landmark.id%>" id="landmark_<%=landmark.id%>">  <%=landmark.name%></input>
      <%end%>

      <button type="submit" value="submit">Edit Figure</button>
    </form>
  </body>
</html>
